th {
	text-align: center;
}

.product-data {
	overflow: hidden;
}

section#main {
	min-height: 350px;
	background: #fff;
}

dl {
	width: 90%;
	border-width: 1px;
	border-style: dotted;
	border-color: #4169E1;
	margin-right: 5%;
	margin-left: 5%;
	padding: 5px 5px 10px;
	float: left;
}

dt {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4169E1;
	padding-bottom: 3px;
}

dd {
	padding-top: 2px;
	padding-bottom: :1px;
	text-align: right;
}

dt img {
	margin-bottom: 5px;
	display: block;
	width: 100%;
}

.order-quantity {
	margin: 0;
	pading: 10px 10px;
	border: 0;
	width: 100%;
	text-align: right;
	font-size: 2em;
	font-family: Arial, sans-serif;
	color: #aaa;
	border: solid 1px #ccc;
}

.submit-wrapper {
	width: 100%;
	margin: 0 auto;
}

.return-wrapper {
	width: 50%;
	margin: 20px auto;
}

.submit-button {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #dbdbdb 50%, #b5b5b5);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		color-stop(0.50, #ebebeb), color-stop(0.50, #dbdbdb), to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
		2px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 1);
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px
		rgba(255, 255, 255, 1);
}

.return-button {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #dbdbdb 50%, #b5b5b5);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		color-stop(0.50, #ebebeb), color-stop(0.50, #dbdbdb), to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px
		2px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.5), inset 0px 0px 2px
		rgba(255, 255, 255, 1);
	text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.2), 0px 1px 0px
		rgba(255, 255, 255, 1);
}

.itemlist {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

.itemlist tr {
	border: 1px solid #ddd;
	padding: 5px;
}

.itemlist th, .itemlist td {
	padding: 10px;
	text-align: center;
}

.itemlist th {
	font-size: 14px;
	letter-spacing: 1px;
}

.sumlist {
	width: 60%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 3px solid orange;
	padding: 0;
	margin: 10px auto;
}

.sumlist tr {
	border: 1px solid #ddd;
	padding: 5px;
}

.total {
	text-align: right;
	padding: 10px;
}

.tax {
	text-align: right;
	padding: 10px;
}

.grand-total {
	text-align: right;
	padding: 10px;
	font-size: 1.6em;
}

.sumlist th {
	padding: 10px;
	text-align: center;
	font-size: 1.4em;
	letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
	.itemlist {
		border: 0;
	}
	.itemlist thead {
		display: none;
	}
	.itemlist tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;
	}
	.itemlist td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
	}
	.itemlist td:last-child {
		border-bottom: 0;
	}
	.itemlist td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}
	.sumlist {
		width: 80%;
		border: 0;
		margin: 10px auto;
	}
	.sumlist thead {
		display: none;
	}
	.sumlist tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;
	}
	.sumlist td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
	}
	.sumlist td:last-child {
		border-bottom: 0;
	}
	.sumlist td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}
	.order-quantity {
		text-align: right;
		font-size: 3em;
	}
}